# Node.js with React
# Build a Node.js project that uses React.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- main

pool:
  name: Azure Pipelines

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '20.x'
  displayName: 'Install Node.js'

- script: |
    npm install
    npm run build
  displayName: 'npm install and build'
  env:
    VITE_SUPABASE_URL: $(VITE_SUPABASE_URL)
    VITE_SUPABASE_ANON_KEY: $(VITE_SUPABASE_ANON_KEY)
    VITE_AZURE_CLIENT_ID: $(VITE_AZURE_CLIENT_ID)
    VITE_AZURE_TENANT_ID: $(VITE_AZURE_TENANT_ID)
- task: ArchiveFiles@2
  inputs:
    rootFolderOrFile: '$(Build.SourcesDirectory)/dist'
    includeRootFolder: false
    archiveType: 'zip'
    archiveFile: '$(Build.ArtifactStagingDirectory)/build.zip'
    replaceExistingArchive: true
  displayName: 'Archive build folder'

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)/build.zip'
    ArtifactName: 'build'
    publishLocation: 'Container'
  displayName: 'Publish Artifact: build'